@import "./vars.scss";

* {
  --pbg: #222;
  --sbg: #111;
  --pfg: #fafafa;
  --sfg: #eeeeee;
  --accent: #18a0fb;
}

* {
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: $font1, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  // scroll-snap-type: mandatory;
  // scroll-snap-type: y mandatory;
  // -webkit-overflow-scrolling: touch;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
  background: var(--pbg);
  color: var(--pfg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4 {
  font-weight: 900;
}
a {
  cursor: pointer;
  text-decoration: none;
}
i {
  color: var(--accent);
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 5rem;
  background: transparent;
}
.flexcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
#logo {
  z-index: -1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  object-fit: contain;
  opacity: 0.7;
  mix-blend-mode: screen;
}
#hero {
  height: calc(100vh - 6rem);
  background: $black;
  scroll-snap-align: start;
  // &::before {
  //   content: "";
  //   z-index: -1;
  //   position: fixed;
  //   display: block;
  //   opacity: 0.15;
  //   height: 100%;
  //   width: 100%;
  //   background-attachment: fixed;
  //   background-position: center;
  //   background-image: url(./assets/static-bg.gif);
  // }
  #hero-content {
    text-align: center;
  }
}
#up-arrow {
  position: absolute;
  height: 3.5rem;
  left: 50%;
  bottom: 5.5rem;
  animation: oscillate 1.5s ease-in-out infinite;
  path {
    fill: var(--accent);
  }
}
.vision {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    z-index: 2;
    font-size: 15rem;
    overflow: hidden;
    padding: 2rem 0;
    transition: ease-in-out;
    animation: vision 1.2s ease-in-out;
  }
  #x {
    position: absolute;
    z-index: 1;
    transform: translateX(26rem);
    font: 900 26rem $font1;
    color: var(--accent);
    animation: X 1.2s ease-in-out;
  }
}
header {
  z-index: 10;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  height: 6rem;
  background: $black;
  transition: all 0.25s ease-in-out;
  &.header--hidden {
    background: linear-gradient(#111, #11111100);
    text-shadow: 0 0 25px #000;
  }
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  ul {
    font-weight: 700;
    li {
      display: inline-block;
      padding: 1rem 0rem 1rem 3rem;
      a {
        font: 700 1.6rem $font1;
        color: var(--pfg);
        &::after {
          content: "";
          z-index: -5;
          position: relative;
          display: block;
          opacity: 0;
          margin-top: -1rem;
          width: auto;
          height: 7px;
          background: var(--accent);
        }
      }
      &:hover {
        a::after {
          opacity: 0.6;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
  #register {
    font: 700 1.6rem $font1;
    color: #fff;
    padding: 5px 1.2rem;
    border: 2px solid var(--accent);
    border-radius: 5px;
    background: transparent;
    text-shadow: 0 0 #000;
    box-shadow: 0 0 #fff;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    &:hover {
      background: var(--accent);
      text-shadow: 2px 2px #000;
      box-shadow: 2px 2px #fff;
    }
  }
}
.info {
  padding: 7.5rem 0;
  background: $black;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    p {
      padding: 0 0 0 10rem;
      font: 400 1.8rem $font2;
      line-height: 2;
    }
    img {
      width: 65rem;
    }
  }
}

#team {
  background: $black;
  h1 {
    margin: auto;
    width: fit-content;
  }
}
#coming-soon {
  position: relative;
  font-size: 8rem;
  mix-blend-mode: overlay;
}
#countdown-area {
  padding: 7.5rem 0;
  background: var(--accent);
  scroll-snap-align: start;
  h1 {
    font-size: 3rem;
    line-height: normal;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
#date,
#countdown {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0;
  h1 {
    font-size: 8rem;
  }
  #time {
    font-size: 7.5rem;
  }
}
.loader {
  width: fit-content;
  height: 100vh;
  img {
    margin: auto;
    height: 30vh;
  }
}
#countdown {
  flex-direction: column;
}
footer {
  background: $black;
  font-weight: 700;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--sfg);

    svg {
      height: 1.6rem;
      width: 1.6rem;
      path {
        fill: var(--sfg);
      }
      &:hover {
        path {
          fill: var(--accent);
        }
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .container {
    max-width: 480px;
    padding: 0 2rem;
  }
  .flexcont {
    justify-content: space-between;
    span {
      margin: 0 1rem;
    }
  }
  .vision {
    h1 {
      font-size: 6rem;
    }
    #x {
      transform: translateX(11rem);
      font-size: 12rem;
    }
  }
  #coming-soon {
    font-size: 3rem;
    bottom: -3rem;
  }
  #countdown-area {
    .container {
      flex-direction: column;
    }
  }
  #up-arrow {
    left: 47%;
  }
  #countdown {
    flex-direction: column-reverse;
    #time {
      font-size: 5rem;
    }
  }
  .info {
    .container {
      flex-direction: column;
      img {
        width: 24rem;
      }
      p {
        padding: 7.5rem 1rem 0;
      }
    }
  }
}

@keyframes oscillate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes X {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translateX(initial);
  }
}
@keyframes vision {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
