@import "./vars.scss";

#card-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.card {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #fff;
  color: var(--pbg);
  margin: 5rem auto;
  padding: 7.5rem 7.5rem;
  border-radius: 2rem;
  width: 110rem;
  max-width: 110rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  .evntImg {
    height: 30rem;
    width: 35rem;
    margin: 0 1rem 0 0;
    border-radius: 2rem;
    background: #777;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  }
  .evntTxt {
    margin-left: 2rem;
    p {
      margin-top: 0.7em;
    }
  }
  #more {
    display: flex;
    width: max-content;
    justify-content: right;
    align-self: end;
    margin-top: 1rem;
    color: var(--accent);
    font: 700 1.4rem $font2;
  }
}

@media screen and (max-width: 1080px) {
  .card {
    padding: 2.5rem;
    flex-direction: column;
    width: 35rem;
    height: 45rem;
    .evntImg {
      width: 100%;
      margin: 0 0 1rem 0;
    }
    .evntTxt {
      margin: 1rem 0 0;
      padding: 0 1rem;
      text-align: center;
    }
    #more {
      position: relative;
      right: 0;
      cursor: pointer;
      width: 100%;
    }
  }
}
