@import "./vars";

#team {
  text-align: center;
  #card-wrapper {
    width: fit-content;
    margin: auto;
    justify-content: center;
  }
}
.member {
  display: inline-block;
  margin: 5rem 2rem;
  &:hover {
    .txt {
      p {
        color: var(--pbg);
      }
      &::before {
        height: 100%;
      }
    }
  }
  .img {
    z-index: 10;
    position: relative;
    margin: auto;
    height: 20rem;
    width: 20rem;
    border-radius: 1.5rem;
    background: #777;
    overflow: hidden;
    border: solid 5px var(--accent);
  }
  .txt {
    &::before {
      content: "";
      top: 0;
      left: 0;
      margin-bottom: -10rem;
      z-index: -1;
      position: absolute;
      display: block;
      background: var(--accent);
      height: 0;
      width: 100%;
      transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    z-index: 5;
    position: relative;
    overflow: hidden;
    margin: -12rem 1.2rem 1rem;
    padding: 13.5rem 1rem 2rem 1rem;
    width: 25rem;
    text-align: center;
    border-radius: 1.5rem;
    background: var(--sbg);
    h2 {
      font-size: 2rem;
    }
    p {
      margin: 5px 0 0;
      color: var(--accent);
      font-weight: 700;
      transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }
  .links {
    margin-top: 1.5rem;
    img {
      height: 2rem;
      width: 2rem;
      &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
